<%- include("./includes/header.ejs", {title:"Inventory Project"}); %>
<div class ="row" style="margin-top: 3em">
    <div class="row"></div>
        <h4>The Company:  <span style="font-size: 14px">aCompany </span> <br />
        <h4>The Developer:  <span style="font-size: 14px">Unhappy Student </span></h4>
        <br />
        <br />
    <div class="row">
        <p>
            The purpose of the website is to provide inventory functionality to a company.
            The company can use this to track the current status of any server or to run inventory
            allowing them to input the serial number of a server which logs records.
            Should something be wrong with a server the company can click on that server to view all pertinent vendor and warranty.
        </p>
    </div>
    <div class="row">
        <p>
            aCompany is all about writing pointless websites for student projects that more than likely will never be used and
            possibly education.</p>
        <p>
            Should you be interested in waisting you time please contact
            aCompany at (900) 555 1313 <br />
            Unhappy Student can be reached at ext. 666.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="../images/er.png" class="img-responsive">
        </div>
        <div class="col-lg-6">
            <img src="../images/rdg.png" class="img-responsive">
        </div>
    </div>

</div>
<%- include("./includes/footer.ejs"); %>